.arrowWrapper {
  position: relative;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.arrow {
  background: url("../images/lostarrow6.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
}

@keyframes moveUpFade {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -12rem;
  }
}

.arrow.animate {
  animation: moveUpFade 0.5s forwards;
}
