@font-face {
  font-family: "CustomFont";
  src: url("../fonts/IDTFIdentifier-0.1-Bold.otf") format("opentype");
}

@font-face {
  font-family: "MS Mincho";
  src: url("assets/fonts/ms-mincho.ttf") format("truetype");
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrolling */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  font-family: "CustomFont", Arial, sans-serif;
}

#gameTitle {
  margin-bottom: 20px; font-family: 'CustomFont', sans-serif; z-index: 1;
  margin-top: 40px;
}

.confirm-button {
  width: 100px;
  height: 50px;
  background-color: #222222; /* Different color for distinction */
  color: #999999;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-family: "CustomFont";
  border: 2px solid #999999;
  border-radius: 0px;
}

.confirm-button:hover {
  background-color: #999999;
  color: #222222;
}

.logo-container {
  position: absolute;
  top: 20px; /* Stick to the top of the screen */
  left: 0;
  width: 100%; /* Full width */
  text-align: center;
  padding: 20px 0; /* Optional spacing between logo and instructions */
  background-color: transparent; /* Transparent background */
  box-sizing: border-box;
}

.menu-button {
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: #333;
  color: #999999;
  font-size: 18px;
  font-family: "CustomFont";

  border-radius: 0px;
  padding: 10px 5px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #999999;
  color: #222222;
}

.logo-container img {
  align-items: center;
  align-self: center;
  padding-top: 5%;
  max-width: 130px;
  height: auto;
}

.instructions {
  margin-top: 5px; /* Small margin between logo and instructions */
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "CustomFont", Arial, sans-serif;
  line-height: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh; /* Ensure it takes the full height of the viewport */
  margin: 0;
  flex-grow: 1; /* Ensures it fills available space for vertical centering */
  margin-top: 50px; /* Push content down to allow space for the top section */
}

.level-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #222222;
  color: #999999;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "CustomFont";
}

.level-button:hover {
  background-color: #999999;
  color: #222222;
}

.content-container {
  display: flex;
  gap: 20px; /* Space between maze and tracker */
  align-items: flex-start;
  justify-content: center; /* Center items horizontally */
}

.maze-container {
  overflow: visible;
  position: relative; /* To contain the pseudo-element */
  background-color: #999999;
  padding: 10px;
  display: inline-block;
  box-shadow: inset 0 0 49px 0 #000000;
  transition: box-shadow 0.2s ease; /* Smooth transition for shadow changes */
  height: 402px;
  width: 402px;
  z-index: 0; /* Ensure layering is correct */
  
}


.maze-container::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--spot-width, 200px);
  height: var(--spot-height, 200px);
  border-radius: 50%;
  background-color: #cccccc;
  filter: blur(var(--spot-blur, 20px));
  pointer-events: none; /* Prevent interaction */
  mix-blend-mode: overlay; /* Apply overlay blending mode */
  z-index: 0; /* Ensure it sits behind content */
  opacity: 0.5; /* Set opacity to 0.5 */
  transition: filter 0.2s ease, width 0.2s ease, height 0.2s ease; /* Smooth transitions */
}

canvas {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #222222;
  image-rendering: pixelated;
  transform: translate(2.5%, 2.5%); /* Center the canvas within the container */
}

.tracker-container {
  color: #999999;
  background-color: #222222;
  padding: 10px;
  border-radius: 0px;
  width: 90px;
  height: 407px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cccccc #222222; /* Thumb and track colors */
}

.tracker-container::-webkit-scrollbar {
  width: 8px; /* Slim scrollbar */
}

.tracker-container::-webkit-scrollbar-track {
  background: #222222; /* Background of the scrollbar track */
  border-radius: 4px; /* Optional: round corners */
}

.tracker-container::-webkit-scrollbar-thumb {
  background: #cccccc; /* Thumb color */
  border-radius: 4px; /* Optional: round corners */
}

.tracker-container::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; /* Thumb color on hover */
}

.tracker-container h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

.tracker-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tracker-container li {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
  color: var(--normal-entry-color, #FF6A99); /* Default text color */
}

.tracker-container li.highlight-entry {
  color: var(--highlight-entry-color, #FFADC7); /* Highlighted entry color */
  font-weight: bold; /* Optional: make the highlighted entry bold */
  font-size: 19px;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px; /* Add space between the buttons */
  margin-top: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.controls button {
  width: 100px;
  height: 80px;
  background-color: var(--button-bg-color, #222222);
  color: var(--button-color, #999999);
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.controls button:hover {
  background-color: var(--button-hover-bg-color, #999999);
  color: var(--button-hover-color, #222222);
}

.reset-button {
  width: 100px;
  height: 50px;
  background-color: #222222;
  color: #999999;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-family: "CustomFont";
  border: 2px solid #999999;
  border-radius: 0px;
}

.reset-button:hover {
  background-color: #999999;
  color: #222222;
}

#winPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999999;
  background-color: #222222;
  padding: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  text-align: center;
  border-radius: 0px;
  z-index: 1000;
}

#winPopup .button-container {
  display: flex; /* Ensures buttons are flex items */
  justify-content: center; /* Centers buttons horizontally */
  gap: 20px; /* Adds spacing between buttons */
  margin-top: 20px; /* Space between text and buttons */
}

#winPopup button:hover {
  background-color: #222222;
  color: #999999;
}

#winPopup button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #222222;
  color: #999999;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  font-family: "CustomFont";
  font-size: 25px;
  min-width: 150px; /* Ensures buttons have consistent width */
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#levelAnnouncement {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999999;
  font-family: "CustomFont", sans-serif;
  font-size: 68px;
  padding: 0px 0px;
  text-align: center;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0); /* Shadow around the box */
  z-index: 1000; /* Ensure it overlays the game screen */
  width: auto;
  background-color: initial !important; /* Allow JavaScript to control the color */
}

#levelText {
  font-family: "CustomFont", sans-serif;
  font-size: 70px;
  color: #999999;
  text-align: center;
}

#optionsWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;

  background-color: #222222;
  border-radius: 0px;
  border: 5px solid #cccccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  z-index: 1000;
  display: none; /* Initially hidden */
  overflow: auto; /* Allow scrolling for overflow content */
}

#optionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #cccccc;
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

#optionsContent {
  padding: 20px;
  color: #cccccc;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none; /* For Safari and Chrome */
  appearance: none; /* Standard property for compatibility */
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 40px;
  background: #fff;
  box-shadow: -200px 0 0 200px dodgerblue;
  border: 2px solid #999;
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px dodgerblue;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: dodgerblue;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

#hintButton {
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: "CustomFont", sans-serif;
  display: none; /* Hidden at the start */
  padding: 10px 5px;
  font-size: 16px;
  background-color: #333;
  color: #999999;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.1s ease; /* Smooth transition effect */
  border-style: outset;
  border-width: 2px;
  border-color: buttonborder;
}

#hintButton:hover {
  background-color: #999999; /* Slightly darker on hover */
  color: #222222;
}

#hintButton:active {
  transform: scale(0.95); /* Slightly shrink button */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

.blink-highlight {
  animation: blink 0.75s ease-in-out 2; /* Blinks 2 times */
  border: 2px solid #ffd700; /* Optional: add a border */
  box-shadow: 0 0 8px #ffd700; /* Optional: glow effect */
}

.hint-label {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 34, 34, 1); /* Semi-transparent black background */
  color: #999999;
  padding: 10px 5px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  text-align: center;
  z-index: 1000; /* Ensure it's on top of other elements */
  display: none; /* Hidden by default */
}

#menuElement {
  position: absolute;
  top: 17%; /* Adjust to position above the title */
  width: 300px;
  padding-left: 10px;

  image-rendering: pixelated; /* Keep it crisp */
  animation: float 3s infinite ease-in-out; /* Add the floating animation */
}
/* Common button styles */
#startGameButton,
#achievementsButton,
#unlockablesButton,
#optionsButton,
#leaveButton {
  font-size: 25px;
  padding: 0px 30px;
  cursor: pointer;
  background-color: #222222;
  color: #cccccc;
  border: none;
  border-radius: 0px;
  font-family: "CustomFont", sans-serif;
  z-index: 2;
  margin-bottom: 0px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

/* Hover effect */
#startGameButton:hover,
#achievementsButton:hover,
#unlockablesButton:hover,
#optionsButton:hover,
#leaveButton:hover {
  background-color: #cccccc; /* Darker background */
  color: #222222; /* Lighter text */
  transform: scale(1.05); /* Slight zoom */
}

/* Active (click) effect */
#startGameButton:active,
#achievementsButton:active,
#unlockablesButton:active,
#optionsButton:active,
#leaveButton:active {
  transform: scale(0.95); /* Shrink slightly when clicked */
}

/* Button container background image */
#menuBackgroundImage {
  background-image: url("../images/menubackground10.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0px;
  image-rendering: pixelated;
  pointer-events: none; /* Prevent blocking button clicks */
}

/* Button container */
#buttonBackground {
  position: relative;
  width: 485px;
  height: 160px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: top; /* Anchors the top of the background */
}

#levelSelection button {
  transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition */
  font-family: "CustomFont", sans-serif;
  font-size: 20px;
  padding: 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);;
  border: none;
  color: #222222;
}


/* #levelSelection button:hover {
  transform: scale(1.1); /* Slightly enlarge the button */
  /* background-color: #cccccc; /* Change background color */
/* } */

:root {
  --exit-color: #cccccc; /* Example of changing level 1's exit color */
}

#mainMenuButton {
  margin-top: 20px; /* Keep a gap from other elements */
}

#startScreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: #222222; /* Fallback color */
  background-image: url('../images/backgroundchecks.svg'); /* Relative path */
  background-size: 400px 400px; /* Control size of each tile */
  background-repeat: repeat; /* Enable tiling */
  background-position: top left;
  color: #cccccc;
  font-size: 20px;
  text-align: center;
  overflow: hidden;

  /* Animation */
  animation: moveBackground 20s linear infinite;
}

.hidden {
  display: none;
}

@keyframes moveBackground {
  0% {
    background-position: top left;
  }
  100% {
    background-position: 200px 200px; /* Moves towards top-right */
  }
}



.tracker-container.highlight {
  animation: highlightEffect 0.1s ease-in-out;
}

/* Fullscreen modal styles */
#achievementsModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #CCCCCC; /* Updated modal background */
  color: #222222; /* Updated modal text color */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

#achievementsModal.active {
  display: flex;
}

#achievementsModal h1 {
  margin: 20px;
  font-size: 3rem; /* Bigger title */
  text-align: left;
  color: #222222; /* Ensure title text matches updated modal color scheme */
}

#achievementsModal .modal-content {
  text-align: center;
  flex: 1;
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#achievementContainer {
  position: relative; /* Ensure it participates in stacking context */
  z-index: 2; /* Higher than #animationContainer */
  display: flex;
  align-items: center;
  background-color: #222222; /* Updated container background */
  height: auto;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 750px;
  color: #cccccc; /* Ensure text contrasts with dark container background */
}

.iconBox {
  flex-shrink: 0;
  width: 100px; /* Set the size of the SVG */
  height: 100px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBox img {
  width: 100%;
  height: 100%;
  background-image: url('../images/ach_icon.svg'); /* Path from CSS to images folder */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block; /* Ensures it renders properly */
}

/* Achievement details */
.achievementDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left; /* Align title and description to the left */
}

.achievementDetails .achievementTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cccccc; /* Match container text color */
}

.achievementDetails .achievementDescription {
  font-size: 1rem;
  margin-top: 5px;
  color: #cccccc; /* Match container text color */
}

/* Progress bar */
.progressContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #444444; /* Darker background for progress bar */
  border-radius: 5px;
  overflow: hidden;
  height: 15px;
}

.progressFill {
  height: 100%;
  background-color: #D1406E; /* Green progress bar fill */
  width: 0%; /* Update this dynamically for progress */
  transition: width 0.1s ease-in-out;
}

.progressFill.theTail {
  background-color: #D1406E; /* Tail-specific color */
  height: 100%;
  width: 0%;
  transition: width 0.1s ease-in-out;
}

.progressPercentage {
  margin-left: 0px;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #cccccc; /* Match container text color */
}

/* Achievement status */
.achievementStatus {
  margin-top: 39px;
  margin-left: 12px;
  font-size: 1rem;
  color: #D1406E; /* Red status text for "Locked" */
}

/* Close button styles */
#achievementsModal .close-btn {
  background: #D1406E;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: 100px;
  margin-right: 20px;
  align-self: flex-end;
  font-size: 1rem;
}

/* SVG animation styles */
#animationContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1; /* Lower than #achievementContainer */
}

#achievementsModal.active #animationContainer {
  display: block;
}

#achievementsModal #animationContainer {
  display: none; /* Hide by default unless modal is active */
}

.moving-achievement {
  position: absolute;
  width: 150px;
}

#unlockablesScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCCCCC;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#unlockablesTextContainer {
  position: absolute;
  top: 13%; /* Adjusted to place closer to the center container */
  width: 70%; /* Match the width of the center container */
  height: 60px; /* Height for the scrolling text window */
  overflow: hidden; /* Hide overflow */
  background-color: #222222;
  color: #D1406E;
  border-radius: 0px;
  display: flex;
  align-items: center;
}

.scrollingWrapper {
  display: flex;
  flex-direction: row; /* Allow two texts to align horizontally */
  white-space: nowrap;
  animation: scrollText 120s linear infinite; /* Slower animation */
}

#unlockablesScrollingText,
#unlockablesScrollingTextClone {
  font-size: 35px;
  display: inline-block;
  margin-right: 100px; /* Add space between texts */
}


@keyframes scrollText {
  0% {
    transform: translateX(24%); /* Start the first scroll centered */
  }
  100% {
    transform: translateX(-100%); /* Move the text completely out */
  }
}

#unlockablesCenterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%; /* Adjust as needed */
  height: 60%; /* Adjust as needed */
}

#unlockablesCenterWindow {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  width: 100%;
  height: 100%;
  background-color: #999999;
  border-radius: 0px;
  text-align: center; /* Center text alignment */
  color: #222222; /* Text color */
  font-size: 24px; /* Adjust font size */
}

#unlockablesBackButton {
  font-family: "CustomFont";
  font-size: 30px;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #222222;
  color: #CCCCCC;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  position: absolute;
  bottom: 13%;
}

#unlockablesBackButton:hover {
  background-color: #999999;
  color: #222222;
}

#levelSelectionTip {
  position: absolute;
  bottom: 9%;
  width: 100%;
  text-align: center;
  color: #CCCCCC;
  font-size: 20px;
  font-family: "CustomFont", Arial, sans-serif;
}


@keyframes moveAcross {
  0% {
    transform: translateX(-100%); /* Start fully off-screen to the left */
  }
  100% {
    transform: translateX(calc(100vw + 100px)); /* Move fully off-screen to the right */
  }
}

@keyframes highlightEffect { 
  0% {
    background-color: var(--highlight-bg-color, #FFADC7); /* Highlight start color */
    opacity: 1;
  }
  100% {
    background-color: var(--highlight-bg-color, #FFADC7); /* Highlight end color */
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(2deg); /* Moves up and rotates slightly */
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes blink {
  0%,
  100% {
    background-color: #ffd700; /* Yellow highlight */
    color: black;
  }
  50% {
    background-color: #ff4500; /* Orange highlight */
    color: white;
  }
}

@media (min-width: 1024px) {
  .logo-container {
    padding: 0px 0;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 450px; /* Smaller logo size */
  }

  .instructions {
    font-size: 20px; /* Smaller font size for instructions */
    max-width: 100%; /* Prevent instructions from spreading */
    margin: 0 auto; /* Center align */
    line-height: 1;
    position: relative;
    top: 0px; /* Raise the instructions */
  }

  #hintButton {
    position: absolute;
    top: 209.5px; /* Adjust vertical position */
    left: -103px; /* Place the button to the left of the maze */
    transform: translateY(0); /* Fine-tune alignment if needed */
  }
  #hintButton:disabled {
    left: -143px;
  }

}

/* Media query for medium screens */
@media (max-width: 1023px) {
  .maze-container {
    width: fit-content;
    transform: scale(0.8); /* Scale down the maze */
    transform-origin: top left; /* Anchor scaling */
  }

  .logo-container {
    padding: 0px 0;
    top: 5px; /* Adjust logo position */
  }

  .instructions {
    font-size: 13px; /* Further reduce font size */
    top: 0px; /* Adjust spacing */
    text-align: center;
    margin-top: 0px;
  }
}

/* Additional responsive styles */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    gap: 0px;
  }

  .logo-container img {
    align-items: center;
    padding-top: 2%;
    max-width: 130px;
  }
  /* Adjust logo and instructions */
  .logo-container {
    top: 0px; /* Move logo higher */
    padding: 0px 0;
  }

  .logo-container img {
    max-width: 120px; /* Make the logo smaller */
  }

  .instructions {
    font-size: 16px; /* Reduce font size of instructions */
    top: -20px; /* Move closer to the logo */
    line-height: 1.2;
  }

  /* Resize the maze and center it */
  .maze-container {
    width: fit-content;
    transform: scale(1); /* Scale down the maze */
    transform-origin: top left; /* Anchor scaling */
  }

  /* Adjust tracker size */
  .tracker-container {
    order: -1; /* Move the tracker to the top */
    width: 422px; /* Reduce tracker width */
    height: 50px; /* Reduce tracker height */
    align-self: stretch; /* Make it full width */
    font-size: 14px; /* Reduce text size */
    padding: 0px;
  }

  .tracker-container ul {
    display: flex; /* Make the list horizontal */
    flex-wrap: wrap; /* Wrap if moves exceed the width */
    justify-content: center; /* Center items */
  }

  .tracker-container li {
    margin: 0 5px; /* Add some spacing between items */
    margin-bottom: 0px;
  }

  .tracker-container h3 {
    font-size: 20px; /* Adjust tracker title size */
    margin-bottom: 0px;
  }

  /* Resize controls */
  .controls button {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }

  .reset-button {
    width: 80px;
    height: 40px;
    font-size: 20px;
  }

  /* Adjust the win popup */
  #winPopup {
    font-size: 18px; /* Reduce text size in popup */
  }

  #winPopup button {
    font-size: 20px; /* Adjust button text size */
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .logo-container {
    padding: 0px 0; /* Optional spacing between logo and instructions */
    top: 0px; /* Stick to the top of the screen */
  }
  #winPopup {
    width: 320px; /* Adjust the width as needed */
    font-size: 25px; /* Adjust the font size if needed */
    padding: 20px; /* Ensure the padding matches the new size */
  }

  #winPopup button {
    font-size: 25px; /* Keep the button text readable */
    padding: 8px 16px; /* Adjust padding for button */
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove unnecessary margin */
    gap: 0px;
    padding: 0px;
    position: relative; /* Allow absolute positioning of maze */
    width: 100%;
    height: calc(100% - 100px); /* Adjust height dynamically */
    overflow: hidden;
  }

  .logo-container img {
    align-self: center;
    max-width: 100px;
    padding-top: 2%;
    height: 50px;
    width: auto;
  }

  .instructions {
    font-size: 14px;
  }

  .maze-container {
    overflow: hidden;
    width: 100%;
    max-width: 400px; /* Ensure consistency with tracker width */
    height: auto;
    display: flex;
    top: 0; /* Fix it to the top */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Remove any extra margin */
    padding: 10px; /* Remove any extra padding */
    transform: scale(0.9);
    transform-origin: bottom center; /* Anchor scaling to top */
    margin: 0; /* Remove margin to close the gap */
  }

  .tracker-container {
    position: absolute;
    top: 0; /* Align it to the top */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ensure it stays above other elements */
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    max-width: 370px;
    text-align: center;
    overflow-y: auto;
    height: auto;
    max-height: 53px;
    line-height: 1; /* Tighten text spacing */
    overflow-y: auto; /* Add a scrollbar when content exceeds the max height */
    font-size: 12px;
    display: flex;
    align-self: center;
    flex-grow: 1; /* Allow tracker container to grow vertically */
  }

  .tracker-container h3 {
    font-size: 18px;
  }

  .controls button {
    width: 90px;
    height: 80px;
    font-size: 28px;
  }

  .reset-button {
    width: 120px;
    height: 55px;
    font-size: 25px;
  }

  .confirm-button {
    width: 120px;
    height: 55px;
    font-size: 25px;
  }

  .main-container {
    width: 100%;
    margin-top: 14px; /* Push content down to allow space for the top section */
  }

  #optionsWindow {
    width: 90%; /* Set width to 90% of the viewport width */
    height: auto; /* Allow height to adjust automatically */
    max-height: 80%; /* Limit height to 80% of the viewport */
    padding: 10px; /* Add padding to maintain spacing */
    box-sizing: border-box; /* Ensure padding is included in width/height */
  }

  #levelAnnouncement {
    width: auto;
  }

  #levelText {
    width: 310px;
  }

  #hintButton {
    position: absolute;
    top: 13px;
    left: 10px;
  }

  .buttons-container {
    gap: 10px;
  }
}

@media (max-height: 720px) {
  .tracker-container {
    max-height: 34px; /* Reduce max height when screen height is below 749px */
  }

  .controls button {
    width: 90px;
    height: 80px;
    font-size: 28px;
  }
}

@media (max-height: 870px) {
  #menuElement {
    top: 15%; /* Adjust to position above the title */
  }
}

@media (max-height: 779px) {
  #menuElement {
    top: 13%; /* Adjust to position above the title */
  }
}

@media (max-height: 735px) {
  #menuElement {
    top: 9%; /* Adjust to position above the title */
  }
}

@media (max-height: 680px) {
  #menuElement {
    top: 5%; /* Adjust to position above the title */
  }
}

@media (max-height: 605px) {
  #menuElement {
    top: 3.5%; /* Adjust to position above the title */
  }
}

@media (max-width: 375px) {
  .tracker-container {
    width: 320px;
  }

  .maze-container {
    width: fit-content;
    transform: scale(0.77); /* Scale down the maze */
    transform-origin: bottom center; /* Anchor scaling */
  }
}

.error-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(34, 34, 34, 1);
  color: #ff4d4d;
  padding: 0px 0px;
  border-radius: 0px;
  font-size: 30px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
}
